
.loginStatement{
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.TnC{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}